 <div class="user-details">
  <h1> 关于我们</h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>张天放</h2>
    <!-- <i class="devicon-nginx-original colored"></i> -->
    <img src="assets/img/img1.jpeg" style="object-fit:cover;border-radius:50%;" />
    <p>原京东高级算法工程师，技术宅👨🏻‍💻</p>
    <p><i>When I do it, I do it 100% </i></p>
  </div>
  <div class="tech">
    <h2>AmeloYi</h2>
    <img src="assets/img/ameloyi.jpg" style="object-fit:cover;border-radius:50%;" />
    <p>原华为高级工程师，全栈开发者</p>
    <p><i>Talk is cheap, show me your code.</i></p>
  </div>
  <div class="tech">
    <h2>雷欧</h2>
    <img src="assets/img/lee.jpg" style="object-fit:cover;border-radius:50%;" />
    <p>高级开发工程师</p>
    <p><i>Less is more.</i></p>
  </div>
</div>


