<div class="user-details">
  <h1> 产品展示 </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="buffettsay" src="{{ "/assets/img/buffettsay.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 巴菲特说 </h3>
    <ul>
      <li>囊括全球顶级投资人</li>
      <li>专业投资人精选格言</li>
      <li>包含丰富主题和小组件</li>
    </ul>
    <p>巴菲特说是一款收录全球顶级投资人格言的IOS APP📱，囊括包括股神【沃伦·巴菲特】和其搭档【查理·芒格】，本杰明·格雷厄姆，霍华德·马克思，乔尔·格林布拉特，杰西·利弗莫尔，彼得·林奇，纳西姆·尼古拉斯·塔勒布等。另外还包含部分国内的顶级投资人，例如沈南鹏，张磊，林园。格言收集自专业投资人的读书笔记，每天一条都是由其手工整理，每一条都是投资大师的精髓。</p>
    <a class="project-link" href="https://buffettsay.theoneinvest.space/">了解更多</a>
  </div>
</div>
<!-- <div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div> -->


 <div class="user-details">
  <h1> 技术栈</h1>
</div>

  <div class="user">
    <div class="tech">
      <h2>框架</h2>
      <img width="80" height="80" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tomcat/tomcat-original-wordmark.svg" />

      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-unity-original colored"></i>
      <img width="80" height="80" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original-wordmark.svg" />



      <img width="80" height="80" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original-wordmark.svg" />
      <img width="80" height="80" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/inkscape/inkscape-original.svg" />



     


      <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
    <div class="tech">
      <h2>代码</h2>
      <img width="80" height="80" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/swift/swift-original.svg" />

      <img width="80" height="80" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" />
<i class="devicon-bash-plain colored"></i>


      <img width="80" height="80" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" />

      <img width="80" height="80" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" />
      <img width="80" height="80" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" />


 

      <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
    <div class="tech">
      <h2>工具</h2>
      <i class="devicon-git-plain colored"></i>
<img width="80" height="80" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg" />



      <img width="80" height="80" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original-wordmark.svg" />

      <img width="80" height="80" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jupyter/jupyter-original-wordmark.svg" />

      <img width="80" height="80" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jenkins/jenkins-original.svg" />
      <img width="80" height="80" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/slack/slack-original.svg" />
  







<!-- 
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
</div>
